@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02:'Passion One', cursive;
    --font03:'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: darkgray;
    min-width: 100vh;  
}

header{
    background-color: black;
    width: 100%;
    height: 100%;
    min-height: 100px;
}

header h1{
    color: rgb(255, 255, 255);
    margin: 0px;
    text-align: center;
    padding: 50px 10px 10px 10px;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    font-size:8.3em;
    font-weight: bold;
    font-family: var(--font02);
    font-variant: small-caps; /* TODAS SÃO LETRAS MAIUSCULAS, porém as PRIMEIRAS letras são maiores */
    /* text-transform: uppercase; COLOCAR TODAS LETRAS MAIUSCULAS */

}

header p{
    color: rgb(201, 197, 197);
    margin: auto;
    text-align: center;
    font-weight:normal;
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding: 30px;
    font-family: var(--font03);
    text-align:start;
    font-size: 2.9em;
    background-size: cover;  
}       

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-image: url('/exercicios/desafios/desafio012/imagens/background001.jpg');
    background-color: black;
    background-attachment: fixed;
    background-position: right center;
}

section.imagem2{
    background-image: url('/exercicios/desafios/desafio012/imagens/background002.jpg');
    background-color: black;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.295);
    width: 550px;
    color: white;  
}

section.imagem2 > p{
    background-color: rgba(0, 0, 0, 0.493);
    width: 550px;
    color: white;  
}

a{
    color: rgb(255, 254, 254);
    font-weight: bolder;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover{
    text-decoration:underline;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}